html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #57407C;
    font-family: 'Ubuntu', sans-serif;
}

#global {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
}

h1 {
    font-size: 48px;
}

#painel {
    text-align: left;
    width: 620px;
}

#painel #reiniciar {
    background: #3d2963;
    border:none;
    border-radius: 8px;
    cursor: pointer;
    color: #9d93b0;
    font-size: 22px;
    padding: 8px 30px;
    float: left;
}

#painel .pontuacao {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

#tabuleiro {
    width: 680px;
    height: 680px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    perspective: 1000px;
}

.carta {
    width: calc(25% - 20px);
    height: calc(25% - 20px);
    border-radius: 8px;
    margin: 10px;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
    cursor: pointer;
    font-size: 54px;
    color: #FFF;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    background: #3d2963;
}

.carta:active {
   transform: scale(0.97);
   transition: transform .2s;
}

.carta.flip {
  transform: rotateY(180deg);
}

.front, .back {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 8px;
    backface-visibility: hidden;
}

.front {  
    transform: rotateY(180deg);
}

.back {
    background: #000;
}

.pares {
    color: #9D93B0;
    font-size: 54px;
    border: 8px solid #9D93B0;
}