html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #57407C;
    font-family: 'Ubuntu', sans-serif;
}

#global {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
}

h1 {
    font-size: 48px;    
}

#painel {
    width: 680px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: calc(33.33% - 40px);
    margin: 0;
}

button {
    background: #3d2963;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #9d93b0;
    font-size: 22px;
    padding: 8px 30px;
    transform: scale(1);
    transition: transform .2s;
}

button:hover {
    color: #FFFFFF;
}

button:active {
    transform: scale(0.97);
    transition: transform .2s;
}

#painel #pontuacao {
    margin: 0;
    padding: 0;
    text-align: center;
}

#painel #tempo {
    font-size: 40px;
}

#tabuleiro {
    width: 680px;
    height: 680px;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    perspective: 1000px;
}

.carta {
    width: calc(25% - 20px);
    height: calc(25% - 20px);
    border-radius: 8px;
    margin: 10px;
    position: relative;
    cursor: pointer;
    font-size: 54px;
    color: #FFF;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    background: #00B2A1;
}

.carta:active {
   transform: scale(0.97);
   transition: transform .2s;
}

.carta.flip {
  transform: rotateY(180deg);
}

.front, .back {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    text-align: center;
    line-height: 80px;
    border-radius: 8px;
    backface-visibility: hidden;
}

.front {  
    transform: rotateY(180deg);
}

.back {
    background: #3d2963;
}

.pares {
    color: #9D93B0;
    font-size: 54px;
    color: #FFF;
    background: #3d2963;
}

#modal {
    background-color: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-align: center;
}
.modal_off {
    display: none;
}

.popup {
    background-color: rgba(255,255,255,.8);
    width: 50%;
    display: block;
    border-radius: 20px;
    padding: 30px 30px 50px 30px; 
    color: #333333;
    font-size: 20px;
    margin: auto;
    margin-top: calc(10%);
}

.popup h1 {
    border-bottom: 1px dotted #333333;
    padding-bottom: 10px;
    color: #3d2963;
}

.popup p {
    margin: 0 0 5px 0;
}

.popup button {
    margin-top: 30px;
}